@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto:wght@100;300;400;500&display=swap');
:root {
    --main-width: 90%;
}

body {
    background-color: #ffffff;
    overflow: none;
    margin: 0;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color: #000000;
    font-size: 69px;
    text-align: left;
    opacity: 87%;
    margin: 0;
    padding: 0;
}

h2 {
    font-family: "Quicksand", sans-serif;
}

h3 {
    font-family: "Quicksand", sans-serif;
}

.header h1 {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #12121200;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: pointer;
}

svg {
    border: 2px rgb(0, 0, 0) solid;
    margin: auto;
    margin-top: 2vh;
    width: auto;
    transition: .6s;
}

.centersvg {
    text-align: center;
    margin-bottom: 40px;
}

svg text {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#hovertext {
    display: none;
    position: fixed;
    top: 10vh;
    left: 85vw;
    background: fixed white;
    border: 2px solid gray;
}

video {
    display: none;
}

.shoes {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
}

.card {
    border: 1px gray solid;
    width: fit-content;
    padding: 2%;
    margin: 10px;
}