@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto:wght@100&family=Open+Sans+Condensed:wght@300&family=Open+Sans:wght@300&display=swap');
:root {
    --main-width: 90%;
}

body {
    background-color: #121212;
    overflow: none;
    margin: 0;
    cursor:none;
}

.body {
    color: white;
    opacity: 50%;
    cursor:inherit;
}

h1 {
    font-family: 'Roboto', sans-serif;
    color: #FFFFFF;
    font-size: 69px;
    text-align: left;
    opacity: 87%;
    margin: 0;
    padding: 0;
    cursor:inherit;
}

h2 {
    font-family: "Quicksand", sans-serif;
    color: #FFFFFF;
    opacity: 72%;
    margin: 20px;
    cursor:inherit;
}

h3 {
    color: #FFFFFF;
    opacity: 58%;
    font-size: 12px;
    cursor:inherit;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #12121200;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: pointer;
}

table {
    border: solid 1px white;
    padding: 20px;
    animation: 2s breathe infinite;
    animation-delay: 0s; 
    cursor:inherit;
}

table td {
    border-right: solid 1px white;
    margin: 0px;
    padding: 5px;
    font-size: 22px;
    font-family: "Open sans";
    animation: 2s breathe infinite; 
    animation-delay: .5s; 
}

#button {
    border:none;
    background: #7e7e7e85;
    color: rgba(255, 255, 255, 0.699);
    padding: 24px 48px;
    width: 200px;
    animation: 2s breathe infinite;
    animation-delay: 1s; 
    cursor:inherit;
}
#button:hover {
    cursor:inherit;
}
@keyframes breathe {
    0% {border-radius: 30px;}
    50% {border-radius: 15%;}
    100% {border-radius: 30px;}
}
input {
    animation: 2s breathe infinite; 
    animation-delay: 1.4s; 
    cursor:inherit;
}
button {
    animation: 2s breathe infinite; 
    cursor:inherit;
}
select {
    cursor: inherit;
}
select option {
    cursor: none;
}