@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Roboto:wght@100&display=swap');
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #12121200;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: pointer;
}

body {
    background-color: #121212;
    margin: 0;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

input {
    font-family: 'Roboto', sans-serif;
    padding: 8px;
    font-size: 20px;
    border: 1px solid white;
    background: none;
    color: white;
    opacity: 80%;
    margin-right: -6px;
}

input:hover {
    background-color: #FFFFFF12
}

input[type=submit]:hover {
    cursor: pointer;
}

button {
    font-family: 'Roboto', sans-serif;
    padding: 8px;
    font-size: 20px;
    border: 1px solid white;
    background: none;
    color: white;
    opacity: 80%;
}

button:hover {
    cursor: pointer;
    background-color: #FFFFFF12;
}

.homebutton {
    margin: 20px;
    width: fit-content;
}

.homebutton:hover {
    background-color: #1b1b1b;
    cursor: pointer;
}

header {
    background-color: #0c0c0c;
    height: 100%;
    width: 100%;
    padding: -150px;
    float: right;
    margin-bottom: 20px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 38px;
    color: #FFFFFF;
    text-align: left;
    opacity: 87%;
    width: 100%;
}

h2 {
    font-family: "Quicksand", sans-serif;
}

h3 {
    font-family: "Quicksand", sans-serif;
}


/* Oppgave 5 */

.animaterect {
    overflow: hidden;
    float: left;
}

.animaterect1 {
    animation: slide 5s infinite linear;
    width: 50px;
    height: 50px;
    border: 1px solid rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
    float: left;
}

.animaterect2 {
    animation: slide 5s infinite linear;
    width: 50px;
    height: 50px;
    border: 1px solid rgb(0, 0, 255);
    background-color: rgb(0, 0, 255);
    float: right;
}

.animateball {
    animation: slideball 5s infinite linear;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    float: right;
    z-index: 20;
    margin-top: 30px;
}

@keyframes slide {
    0% {
        margin-top: 0%;
    }
    50% {
        margin-top: 148px;
    }
}

@keyframes slideball {
    0% {
        margin-top: 30px;
        margin-right: 0px;
        width: 20px;
        height: 20px;
    }
    6.25% {
        width: 25px;
        height: 25px;
    }
    12.5% {
        margin-right: 84px;
        width: 20px;
        height: 20px;
    }
    18.75% {
        width: 25px;
        height: 25px;
    }
    25% {
        margin-right: 0px;
        width: 20px;
        height: 20px;
    }
    31.25% {
        width: 25px;
        height: 25px;
    }
    37.5% {
        margin-right: 84px;
        width: 20px;
        height: 20px;
    }
    43.75% {
        width: 25px;
        height: 25px;
    }
    50% {
        margin-top: 148px;
        margin-right: 0px;
        width: 20px;
        height: 20px;
    }
    56.25% {
        width: 25px;
        height: 25px;
    }
    62.5% {
        margin-right: 84px;
        width: 20px;
        height: 20px;
    }
    68.75% {
        width: 25px;
        height: 25px;
    }
    75% {
        margin-right: 0px;
        width: 20px;
        height: 20px;
    }
    81.25% {
        width: 25px;
        height: 25px;
    }
    87.5% {
        margin-right: 84px;
        width: 20px;
        height: 20px;
    }
    93.75% {
        width: 25px;
        height: 25px;
    }
}

@keyframes slideballs {
    0% {
        margin-top: 30px;
        margin-right: 0px;
    }
    25% {
        margin-right: 84px;
    }
    50% {
        margin-top: 148px;
        margin-right: 0px;
    }
    75% {
        margin-right: 84px;
    }
}